#dragonCurveContainer {
  padding: 10px;
  background-color: #202020;
  color: #FFF;

  canvas {
    display: block;
    border: solid #FFF 1px;
    margin: 0 auto;
  }

  .dragon-curve-controls {
    margin-top: 2px;
    padding: 5px;
    font-size: 18px;

    input {
      width: 25px;
    }

    .button-container {
      text-align: center;
      margin-bottom: 5px;
      button {
        font-weight: bold;
        font-size: 18px;
      }
    }

    .dragon-curve-controls-row {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 650px) {
        flex-direction: column;
      }
      div {
        width: 33%;
        text-align: center;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }

        @media screen and (max-width: 650px) {
          width: auto;
          text-align: left;
          padding: 5px 0;
          &:first-child, &:last-child {
            text-align: left;
          }
        }
      }
    }

  }
}